<p> Hello <%= @booking.user.username %>, <br/>
	Your room <%= @booking.room.name %>, has been confirmed. </p>

	<h2> Booking Summary </h2>
	<p> start date: <%= @booking.start_date %> </p>
	<p> end date:<%= @booking.end_date %></p>
	<p>INR <%= @room.price%></p>
	<p> Thank you for working with us.  Keep calm and trust this guy </p>
	<img src="http://cdn.playbuzz.com/cdn/02d3929c-9bc3-4e7f-8b76-19ca3efe6895/d89544c1-c489-4da4-af8a-0d3c1d662370.jpg" height="242" width="242">