<h3>Rooms(<%= @rooms.length %>)</h3>

<% if @rooms.empty? %>
	<h4> No Rooms found </h4>

<% else%>
<ol>
	<% @rooms.each do |room| %>
	<% if room.is_authorized == true %>
	<li> 
		<%= link_to room.name,room_path(room.id) %>
		- INR <%= room.price%> - 
		<%= image_tag room.images[1], size: "60x50"%> 
	</li>
	<% end %>
	<% end %>
<%end %><br/>

<% if (user_signed_in?) && (can? :create, Room.new) %>
	<%= link_to "Add room", new_room_path %>
<%end%>

