<h2><%=current_user.username.capitalize %>'s Rooms(<%= @rooms.length %>)</h2>

<% if @rooms.empty? %>
	<h3> No Rooms found </h3>

<% else%>
<ol>
	<% @rooms.each do |room| %>
	<li> 
		<%= link_to room.name,room_path(room.id) %>
		- INR <%= room.price%> - 
		<%= image_tag room.images, size: "60x50"%> - Authorization:<%= room.is_authorized %>

		<% room.bookings.each do |booking| %>
			<% if booking.is_confirmed == false %>
				<%= form_for booking do |f| %>
					<%=booking.user.username %>- needs room from <%= booking.start_date %> to <%= booking.end_date %>-
					<%= f.hidden_field :is_confirmed, :value => true %>
					<%= f.submit "Confirm" %>
				<%end%>			
			<%end%>
		<%end%>
	</li>
	<% end %>
<%end %><br/>

<% if (user_signed_in?) && (can? :create, Room.new) %>
	<%= link_to "Add room", new_room_path %>
<%end%>



