<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= link_to 'Show', city %></td>
        <% if (user_signed_in?) && (can? :update, City) %>
          <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <% end %>
        <% if (user_signed_in?) && (can? :destroy, City) %>
          <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= react_component 'Cities', { data: @cities } %>
 <%= javascript_tag do %>
    window.citiesURL = "<%=j cities_url %>";
  <% end %>


<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCity">
              Add a New city
            </button>
            <!-- Modal -->
            <div class="modal fade" id="addCity" tabindex="-1" role="dialog" aria-labelledby="addCityLable" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addCityLable">Add a New city</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id='reviewNotice'> </p> 
                  <div id='reviewError'></div>
                  <%= form_for(@city,remote: true) do |f| %>
                      <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name %>
                      </div>

                      <div class="actions">
                        <%= f.submit "Add a new city", class: "btn btn-success"%> 
                      </div>
                  <% end %>
                  </div>
                  
                </div>
              </div>
            </div>