<p id="notice"><%= notice %></p>

<p>
  <strong>Review body:</strong>
  <%= @review.review_body %>
</p>

<p>
  <strong>Food rating:</strong>
  <%= @review.food_rating %>
</p>

<p>
  <strong>Cleanliness rating:</strong>
  <%= @review.cleanliness_rating %>
</p>

<p>
  <strong>Safety rating:</strong>
  <%= @review.safety_rating %>
</p>

<p>
  <strong>Facility rating:</strong>
  <%= @review.facility_rating %>
</p>

<p>
  <strong>Locality rating:</strong>
  <%= @review.locality_rating %>
</p>

<p>
  <strong>Room:</strong>
  <%= @review.room_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
