<!DOCTYPE html>
<html>
  <head>
    <title>Rent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <% if user_signed_in? %> 
      Welcome <%= current_user.username.capitalize %> 
      <%= link_to "Account Setting", edit_user_registration_path %>  | <%= link_to "Logout", destroy_user_session_path, method: :delete %> | <%= link_to "Cities", cities_path %>  |<%= link_to "Rooms", rooms_path %>  | <%= link_to "#{current_user.username.capitalize}'s Bookings", bookings_path %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %> | 
    <% end %>

    <% if (user_signed_in?) && (can? :my_rooms, Room) %>
     |<%= link_to "#{current_user.username.capitalize}'s Rooms", rooms_my_rooms_path %> |
     <% end %>

    <% if (user_signed_in?) && (can? :manage, Room) %>
      <%= link_to 'Authorize room', rooms_authorize_rooms_path %> |
    <% end %>
  <body>
  	<%= notice %>
  	<%= alert %>
    <%= yield %>
  </body>
  <% if user_signed_in? %>
      <p> You current IP (<%= current_user.current_sign_in_ip %>) </p>
    <% end %>
</html>
